# Etapa 1

## 1.1 Entendimiento del negocio y enfoque analítico

### 1.1.1 Oportunidad/Problema negocio

Categorizar los comentarios de las peliculas en positivos o negativos

### 1.1.2 Enfoque analítico

(Descripción del
requerimiento desde el
punto de vista de
aprendizaje automático)

Uso de tecnicas de aprendizaje automatico(machine learning) y procesamiento de lenguaje natural que tienen como objetivo principal procesar de manera automatica grandes cantidades de texto de los comentarios de las peliculas para poder clasificarlos en positivos o negativos

### 1.1.3 Organización y rol dentro de ella que se beneficia con la oportunidad definida

### 1.1.4 Técnicas y algoritmos a utilizar

a.) Tipo de aprendizaje : supervisado

b.) Tarea de aprendizaje : Clasificación 

c.) Tecnicas de aprendizaje : 

        1. SVM(Máquinas de vectores de soporte)
        2. Regresión logística
        3. Arboles de decisión

## 1.2 Entendimiento y preparación de los datos

### 1.2.1 Carga de los datos

In [2]:
import pandas as pd

df_movies = pd.read_csv('data/MovieReviews.csv',sep=',',encoding='utf-8',index_col=0)

### 1.2.2 Entendimiento de los datos

In [3]:
df_movies.shape

(5000, 2)

In [4]:
df_movies.head()

                                           review_es sentimiento
0  Si está buscando una película de guerra típica...    positivo
1  Supongo que algunos directores de películas de...    positivo
2  Es difícil contarle más sobre esta película si...    positivo
3  La película comienza muy lentamente, con el es...    positivo
4  Esta película es verdadera acción en su máxima...    positivo

In [5]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_es    5000 non-null   object
 1   sentimiento  5000 non-null   object
dtypes: object(2)
memory usage: 117.2+ KB

In [6]:
df_movies['sentimiento'] = df_movies['sentimiento'].replace({'positivo': 1, 'negativo': 0})

In [7]:
df_movies.head()

                                           review_es  sentimiento
0  Si está buscando una película de guerra típica...            1
1  Supongo que algunos directores de películas de...            1
2  Es difícil contarle más sobre esta película si...            1
3  La película comienza muy lentamente, con el es...            1
4  Esta película es verdadera acción en su máxima...            1

In [8]:
df_movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   review_es    5000 non-null   object
 1   sentimiento  5000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 117.2+ KB

## 1.3 Modelo y evaluación

## 1.4 Resultados

## 1.5 Trabajo en equipo